<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqs.yebapi.mapper.UserMapper">

    <select id="selectByUserName" resultType="com.lqs.yebapi.domain.User">
        select * from user where `username`=#{username}
    </select>
    <select id="getUserByUserName" resultType="com.lqs.yebapi.domain.User">
        select * from user where `username`=#{username}
    </select>

    <update id="alterPwdByUserName" parameterType="com.lqs.yebapi.domain.User">
        update user set `password`=#{password} where `username`=#{username}
    </update>
</mapper>